# Dependencies
node_modules/

# Build outputs
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
orders-mfe.log

# Temporary directories
.__mf__temp/
.mf/

# NPM
.npmrc
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db